<!-- your html code here -->
<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h1>Contact</h1>
      <p>Your opinion is very important to us, so please leave your message below with any questions, feedback, or
        suggestions you may have about our wonderful website. Don't forget to add your email so that we can get back to
        you. Happy coding!</p>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <div class="card mx-7">
        <div class="card-header">
          <form class="d-flex flex-column">
            <div class="form-group d-flex">
              <label for="email" class="col-3 mx-4 d-flex justify-content-end"><strong>E-mail</strong></label>
              <input type="email" class="form-control" id="email" placeholder="Your email">
            </div>
            </br>
            <div class="form-group d-flex">
              <label for="message" class="col-3 mx-4 d-flex justify-content-end"><strong>Your message</strong></label>
              <textarea class="form-control" id="message" placeholder="Please enter your message here..."
                rows="3"></textarea>
            </div>
            <div class="row">
              <div class="col-10"></div>
              <button type="submit" class="btn btn-primary col-2 mt-2 mb-4 mr-2">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </div>
</div>