<!-- your html code here -->

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <div>
                <h2>This First Heading Will Catch Your Eye</h2>
                <p>Done ullamcoper nulla non metus auctor fringilla, Vestibulum id ligula porta felis eusmid semper, Praesent
                    commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo</p>
            </div>
        </div>
        <div class="col-6">    
            <div>
                <img src="https://img.freepik.com/vector-gratis/misterioso-hombre-mafia-fumando-cigarrillo_52683-34828.jpg?t=st=1743461396~exp=1743464996~hmac=7945de4af32c4f2f652238bf5e1f40e70ec9c3b6e8e3a70e6b2546b794005d9c&w=740"
                    style="width: 200px; height: auto; border-radius: 50% !important; border: 2px solid #000; object-fit: cover; margin-left: 20px;"
                    class="rounded float-end" alt="...">
            </div>
        </div>    
    </div>    
</div>