<!-- your html code here -->
<div style="background-color:white">

    <div class="container py-4">
        <div class="d-flex justify-content-start">
            <img class="rounded-circle ms-3" src="https://i.ebayimg.com/images/g/mPYAAOSw1K9lLtLn/s-l1200.jpg" alt="Imagen" width="250" height="250">
            <div>
                <h1>
                    <span style="color: black;">I have the Second Heading</span>
                    <span style="color: red;">Ill make it look COOL</span>
                    <i class="fa-regular fa-face-laugh-squint" style="color: red;"></i>
                </h1>
                <p>The phrase "crocodile tears" refers to someone who is pretending to be sad or remorseful.While
                    crocodiles can and do generate tears, the tears are not linked to emotion. The fluid from their tear
                    ducts functions to clean and lubricate the eye, and is most prominent and visible when crocodiles
                    have been on dry land for a while.</p>
            </div>
        </div>
    </div>
</div>